<app-card>
  <app-table [useControls]="false" [cardId]="appModuleIdsEnum.Movies"></app-table>
</app-card>
<app-card>
  <app-table [useControls]="true" [cardId]="appModuleIdsEnum.Characters"></app-table>
</app-card>
<app-card>
  <app-table [useControls]="true" [cardId]="appModuleIdsEnum.Ships"></app-table>
</app-card>
<app-card>
  <app-table [useControls]="false" [cardId]="appModuleIdsEnum.Planets"></app-table>
</app-card>
<app-card>
  <app-table [useControls]="false" [cardId]="appModuleIdsEnum.Race"></app-table>
</app-card>
